body {
  background-image: url("./assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding: 20px 0;
}
